<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<title>Livy Prototype</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div><h1>Insert your program</h1></div>
	<table>

		<tr>
			<td>
				<h1>Infos</h1>
				<form action="#" th:action="@{/evaluate}"
					th:object="${program}" method="post">
					<p>
						Program: <input type="text" th:field="*{programContent}" />
					</p>
				    <p>
						outputDir: <input type="text" th:field="*{outputDir}" />
					</p>
					<p>
						<input type="submit" value="Submit" /> <input type="reset"
							value="Reset" />
					</p>

				</form>
			</td>
		</tr>
	</table>
</body>
</html>